<div class="col-lg-6">
    <form id="loginForm">
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="username">Username</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <label for="password">Password</label>
        <button type="submit" class="btn btn-primary" (click)="authenticationService.loginUser()">Log In</button>
    </form>
    <p class="subheader">Don't Have an Account? Click here to Sign Up!</p>
</div>